<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A bitcoin market tracker">
    <meta name="author" content="Sam Stelfox">

    <title>Cosmic Sunset Night</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= "active" if current_page?(sidekiq_web_path) %>"><%= link_to "Sidekiq Dashboard", sidekiq_web_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><p class="navbar-text" style="color:white;">CosmicSunsetNight <%= CSN_VERSION %></p></li>
            <li><p class="navbar-text">&copy; Sam Stelfox 2013</p></li>
            <li><p class="navbar-text">Time: <%= Time.now.strftime("%H:%M:%S %Z") %></p></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
